<div ng-show="loginAlertMessage">  {{this.x}}</div>

<div ng-app="sample">
  <h3>Vous pouvez ici ajouter un role.</h3><br><br>

  <form class="form-horizontal" name="registerRoleForm">

    <!-- NOM -->
    <div class="form-group">
      <label class="col-sm-3 control-label" for="title">Nom <span class="red">*</span></label>
      <div class="col-sm-9">
        <input id="title" class="form-control" type="text"
               placeholder="Titre" required ng-model="nameChosen" />
      </div>
    </div>


    <!-- VALIDATION -->
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <input type="submit" class="btn btn-default" value="Ajouter ce role" ng-disabled="registerRoleForm.$invalid"
               ng-click="validNewRole(nameChosen)"/>
      </div>
    </div>


    <div class="col-sm-5 control-label"><span><span class="red">*</span> : champs obligatoires.</span></div>

  </form>






</div>

