<div id="presentationFooter" class="centrer">
  <br><br><br>
  <h3>Bienvenue sur le site vitrine de la promotion de SI3.</h3>
  <p>Ici vous pouvez :</p>

  <ul id="listPresentation">
    <li>Voir l'ensemble des utilisateurs.</li>
    <li>Ajouter un utilisateur.</li>
    <li>Voir l'ensemble des projets de la promotion.</li>
    <li>Ajouter un projet.</li>
    <li>Voir l'ensemble des rôles de la promotion.</li>
    <li>Ajouter un rôle.</li>
  </ul>
  <p>Vous pouvez vous référer à l'onglet correspondant à chaque action.</p>




  <div>Ce site vitrine a été réalisé par Lisa JOANNO.</div>
  <br><br><br>

</div>


<div class="centrer" id="jumbotron">
  <br><br><br>
  <h3>Ce site vitrine a été réalisé par Lisa JOANNO.</h3>
</div>
